/* .formcolor{
    color: white;
    border:5px solid #add8e6 ;
    background-color:rgba(0,128,0,255);
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;

}
.entrada1{
    border:1px solid #ff0000;
    width:190px;
}
.center{
    width:75%;
    margin:auto;
    box-sizing: border-box;
}
.acomodo{
    display: inline-block;
    width: 60px;
    margin-left: 40px;
}
.borde{
    width: 196px;
}
.enviar
{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;;
    padding: 12px;
    border-top: 1px dashed white;
    width: 150px;
} */
form{
    background-color: green;
    color:white;
    padding: 50px;
    border: 5px solid #add8e6;
    border-radius: .5rem;
    margin: 0 auto;
    width: 400px;
}
.espaciado{
padding-left: 50px;
}
label{
    display: inline-block;
    width: 80px;
}
input{
    border: 1px solid red;
}
.boton{
    
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px dashed white;
    width: 200px;
}
.boton-enviar{
    border: none;
}