body{
    background-color: rgba(127,255,212,255);
}
h1{
    text-align: center;
}
table{
    margin: 0 auto;
}
table,tbody,thead,tfoot,th,td,tr{
    border: 1px solid black;
}
.c1{
    color: red
}
.cur{
    font-style: italic;
}
.orange{
    background-color: orange;
}
.yellow
{
    color: yellow;
}
.black{
    background-color: black;
}
.green{
    background-color: rgba(127,255,0,255);
}