h1{
 text-align:center;
 color: black;
 font-family: cursive;
 font-weight: lighter;
}
div{
    margin-left: auto;
}
#a{
    background-color: pink;
    width: auto;
    height: auto;
}
#b{
    background-color: orange;
}
#c{
    background-color: grey;

}
#d{
    background-color: gray;
}