body{
    background-color: #2d8652;
}
#p1{
    color: white;
}
#p2{
    color:#e8ce94;
}
#p3{
    color: orange;
    font-family: cursive;
}
#p4{
    color: white;
    font-family: ;
}
#p5{
    color: orange;
}
#p6{
    color: red;
}
#p7{
    color: antiquewhite;
}
#p8{
    color: red;
}