h1{
 text-align:center;
 color: black;
 font-family: cursive;
 font-weight: lighter;
}
div{
    margin:0 auto;

}
#a{
    background-color: pink;
    width: 30%;
    height: auto;

}
#b{
    background-color: orange;
    width: 30%;
    height: auto;
}
#c{
    background-color: grey;
    width: 30%;
    height: auto;

}
#d{
    background-color: gray;
    width: 30%;
    height: auto;
}